/***************************************************
*****************     header 		****************
***************************************************/

header
{
	position: fixed;
	background-color: rgba(139, 141, 141, 0.5); 
	color: rgba(139, 141, 141, 0.7);
	width: 100%;
	margin-left: -8px;
	margin-top: -22px;
}

#logo_Arithmetibox
{
	width: 83px;
	height: 83px;
	margin-bottom: -38px;
	margin-right: -35px;
	margin-left: 10px;
	padding-bottom: -10px;
}

#titre
{
	margin-left: 50px;
	color: white;
	display: inline-block;
<<<<<<< HEAD
	font-family: 'Lato', sans-serif;
	font-weight: 200;
=======
>>>>>>> adeec9873c948f7de55bbd4aa4fddb8006f592be
}

header p
{
	float: right;
	color: white;
<<<<<<< HEAD
	font-weight: bold;
	font-family: 'Lato', sans-serif; 
	font-weight: 200;
=======
>>>>>>> adeec9873c948f7de55bbd4aa4fddb8006f592be
}

#img_ataraxy
{
	width: 50px;
	height: 50px;
	float: right;
	margin-right: 25px;
}

/***************************************************
*****************     main 		********************
***************************************************/

main
{
	padding-top: 60px; /*Ligne provisoire*/
	/* les marges à gauche et droite "auto" permettent de centrer */
	margin-left: auto;
	margin-right: auto;
	/* largeur de la partie centrale principale de l'affichage */
	width: 100%;
	/* Forcer à ce que tout le contenu de cette partie reste à l'intérieur de cette partie */
	/* Par exemple: les marges ne débordent pas */
	/* Par exemple: les float ne débordent pas */
	overflow: hidden;
	display: flex;
}

html
{
	background-color: #EDEDED;
}

a
{
	text-decoration: none;
	color:inherit;
	font-weight: 50;
}

li
{
	list-style-type:none;
}

#MenuFonction
{
	background-color: #9ac039;
	padding-right: 10px;
	margin-bottom: 10px;
	font-family: 'Lato', sans-serif; 
	font-weight: 400;

}

#affichage
{
	background-color: white;
	width: 100%;
	margin-left: 20px;
}

nav
{
	display: inline-block;
}

section
{
	background-color: white;
}

#titreFonctions
{
	margin-left: 40px;
	margin-bottom: 5px;
	color: white;
	font-family: 'Lato', sans-serif; 
	font-weight: 500;
}

.listeF
{
	padding-top: 8px;
	padding-bottom: 22px;
	margin-bottom: 5px;
	display: block;

	width : 220px;
	height : 30px;

	color : white;
	background-color: rgb(161, 162, 148);

	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

/*Pour centrer le boutton bien au milieu de la 
case quand le texte n'est pas sur deux lignes*/
.texte_court 
{
	padding-top: 18px;
	padding-bottom: 12px;
}

ul :hover
{
	color: #909590; 
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1);
	background-color: rgb(70, 70, 70);
}

#texte_a_propos
{
	background-color: #464646;
	color: white;
	text-align: center;
	padding-right: 10%;
	padding-left: 10%;

	margin-bottom: -16px;
	margin-right: -13px;
	margin-left: -13px;
	padding-bottom: 50px;
	padding-top: 30px;
    font-style: italic;
}

/***************************************************
********** MISE EN PAGE DES FONCTIONALITE **********
***************************************************/

#msg_fonctionnalité /*msg = mise en page*/
{
	margin: 20px;
}

input
{
	margin: 8px;
}

.boutton
{
	color: white;
	background-color: black;
	text-decoration:none;
	border-radius:1px;
	border-radius:1px;
	border:1px solid #dbdbdb;
	width: 100px;
	height: 25px;
	font-weight: 40px;
	margin: 30px;
	margin-left: 100px;
}

textarea
{
	width: 500px;
	height: 200px;
}

.matrice
{
	width: 55px;
	height: 75px;
	font-size: 30px;
	margin-bottom: -32px;
}

/*.boutton {
	box-shadow:inset 0px -3px 7px 0px #3b474d;
	background: linear-gradient(to bottom, #96a1a8 5%, #616569 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#96a1a8', endColorstr='#616569',GradientType=0);
	background-color:#96a1a8;
	border:1px solid #dbdbdb;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	
	text-shadow:0px 1px 0px #3f3f42;
}
.boutton:hover {
	background: linear-gradient(top, #616569 5%, #96a1a8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#616569s', endColorstr='#96a1a8',GradientType=0);
	background-color: #616569;
}
*/



/***************************************************
*****************     FOOTER 		****************
***************************************************/

footer
{
	background-color: #111111;
	width: 100%;
	padding: 1px;
	padding-right: 20px;
	margin-left: -8px;
}

#texte_footer
{
	text-align: center;
	color: white;
	width: 100%;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
}